<!-- vim: set ts=4 sw=4 sts=4 et sta ai fenc=utf-8: -->
<section class="content">

    <!-- box col-12 -->
    <div class="box">
        <div class="box-header with-border">
            <div class="box-title">PR{{project?.id}} </div>
            <div class="box-tools pull-right pull-bottom">
                <span class="label label-success">原田さん</span>
            </div>
        </div>

        <div class="box-body">
            <div class="row valign-middle small-padding">
                <div class="col-xs-2 text-right">お客様名</div>
                <div class="col-xs-4">{{project?.client_name}} </div>
                <div class="col-xs-2 text-right">登録日</div>
                <div class="col-xs-4">2018年10月10日</div>
            </div><!-- .row -->
            <div class="row valign-middle small-padding">
                <div class="col-xs-2 text-right">タイトル</div>
                <div class="col-xs-4">{{project?.subject}}</div>
                <div class="col-xs-2 text-right">納入期限</div>
                <div class="col-xs-4">{{project?.delivery_date}} </div>
            </div><!-- .row -->
            <div class="row valign-middle small-padding">
                <div class="col-xs-2 text-right">納入方式</div>
                <div class="col-xs-4">{{project?.delivery_method}} </div>
                <div class="col-xs-2 text-right">支払条件</div>
                <div class="col-xs-4">{{project?.payment_term}}</div>
            </div><!-- .row -->
            <div class="row valign-middle small-padding">
                <div class="col-xs-2 text-right">状況</div>
                <div class="col-xs-10"> NDA | 基本契約 | 見積書 | 受注書 </div>
            </div><!-- .row -->

        </div> <!-- .box-body -->

    </div>
    <div class="box">
        <div class="box-header with-border">
           詳細
        </div>

        <div class="box-body">
        </div> <!-- .box-body -->

    </div>
</section>
