<!-- vim: set ts=4 sw=4 sts=4 et sta ai fenc=utf-8: -->
<section class="content">

    <!-- box col-12 -->
    <div class="box">
        <div class="box-header with-border flex-outer">
            <div class="flex-item box-title">詳細</div>
            <div class="flex-item">担当さん</div>
        </div>

        <div class="box-body">
            <div class="row small-padding">
                <div class="col-xs-2 text-right">案件番号</div>
                <div class="col-xs-4">PR{{project?.id}} </div>
                <div class="col-xs-2 text-right">登録日</div>
                <div class="col-xs-4">:&nbsp;2018年10月10日</div>
            </div>
            <div class="row small-padding">
                <div class="col-xs-2 text-right">お客様名</div>
                <div class="col-xs-4">&nbsp;&nbsp;PR{{project?.id}} </div>
                <div class="col-xs-2 text-right">登録日</div>
                <div class="col-xs-4">&nbsp;&nbsp;2018年10月10日</div>
            </div>
            <div class="row small-padding">
                <div class="col-xs-2 text-right">タイトル</div>
                <div class="col-xs-4">{{project?.subject}}</div>
                <div class="col-xs-2 text-right">お客様名</div>
                <div class="col-xs-4">{{project?.client_name}}</div>
            </div><!-- .row -->

        </div> <!-- .box-body -->

    </div>
    <div class="box">
        <div class="box-header with-border">
           詳細
        </div>

        <div class="box-body">
        </div> <!-- .box-body -->

    </div>
</section>
